<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="news1" value="https://dailytimes.com.pk/feed/"/>
    <add key="news2" value="https://www.thenews.com.pk/rss/1/1"/>
    <add key="filepath" value="File Path"/>
  </appSettings>
</configuration>